
  <div class="font-special text-4xl col-span-12 text-center text-white bg-gradient-to-r from-gray-900 to-blue-900 p-1" >
    <span class=" underline ">trl</span>
  </div>
<script src="//embed.typeform.com/next/embed.js"></script>
      <div class="flex justify-end text-end sticky top-0">
    <button data-tf-popup="wof3xNSj" data-tf-size="100" class=" p-10 first:pt-0 last:pb-0animate-ping p-2">
      <div class="flex bg-white rounded-lg m-3 p-2">
      <img class="h-10 w-10 rounded-full border border-2 " src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" />
        <div class="ml-3 overflow-hidden">
        <p class="text-sm  text-blue-900 text-start">Contacteer ons voor</p>
        <p class="text-sm text-blue-900 underline">een voorstel binnen de 48u.</p>        
        </div>
      </div>
    </button>
  </div> 
  

<div class="text-white p-5 grid grid-cols-12 w-full h-full">

  <div class="font-semibold text-5xl col-span-12 text-center uppercase">
    The Ruby Lab
  </div>
  
  <div class="font-special text-7xl col-span-12 text-center  p-5 m-10 border-b-2 border-white">
    Make it simple, but significant.
  </div>
    <div class="font-roboto text-sm col-span-12 text-center animate-bounce">
    Klik hieronder op de titels om verder te lezen.<br>v
  </div>
  
  <!-- BLOCK -->
  <div class="font-bold text-lg col-span-12 text-center p-3 m-3 sm:text-3xl" x-data="{ open: false }">
    <button @click="open = ! open" class="hover:text-xl uppercase hover:rounded-full hover:border-blue-900 hover:border-2 hover:p-3">
      Waarom kiezen voor TRL? 
    </button>
    <div class="text-lg col-span-12 text-start shadow-lg shadow-orange-300 p-5 m-3 font-roboto sm:text-xl rounded-lg bg-gradient-to-r from-gray-900 to-blue-900 shadow-red-500" x-show="open">
      <p class="font-roboto text-start p-10 uppercase">We maken uw site beter, sneller en gebruiksvriendelijker.</p>
      <p class="font-roboto text-start">Wij zijn vriendelijke, betrouwbare, directe interface-ontwerp- en bruikbaarheidsexperts die u willen helpen het meeste uit uw webproject te halen.
      Onze focus ligt op het verbeteren van de bruikbaarheid en het bereiken van zakelijke doelen door middel van eenvoud en duidelijkheid in het ontwerp. Onze diensten genereren economische resultaten voor onze klanten en betere online ervaringen voor hun klanten.</p>
    </div>
  </div>
     <!-- BLOCK -->
  <div class="font-bold text-lg col-span-12 text-center p-3 m-3 sm:text-3xl" x-data="{ open: false }">
    <button @click="open = ! open" class="hover:text-xl uppercase hover:rounded-full hover:border-blue-900 hover:border-2 hover:p-3">
      Een ontwerp dat resultaten oplevert
    </button>
    <div class="text-lg col-span-12 text-start  p-5 m-3 font-roboto sm:text-xl rounded-lg bg-gradient-to-r from-gray-900 to-blue-900 shadow-lg shadow-red-500" x-show="open">
      <p class="font-roboto text-start p-10 uppercase">Een stijging van 40% in de verkoop</p>
Een e-retailer wilde de verkoop van merchandise verhogen door de bruikbaarheid te verbeteren. Ons werk heeft het koopproces vereenvoudigd, waardoor ze in het kwartaal na de lancering van het herontwerp een omzetstijging van 40% konden realiseren.
<p class="font-roboto text-start p-10 uppercase">Een stijging van € 10.000 in advertentie-inkomsten</p>
Een informatiedienstverlener wilde de advertentieverkoop verhogen. We hebben strategische aanbevelingen en ontwerpwijzigingen doorgevoerd die de advertentie-inkomsten na een maand met meer dan € 10k hebben verhoogd.
<p class="font-roboto text-start p-10 uppercase">Een vermindering van 40% in stappen om af te rekenen</p>
Een niche-product-klant wilde het afrekenproces stroomlijnen om het voor mensen gemakkelijker te maken om aankopen te doen. We hebben het afrekenproces teruggebracht van vijf stappen naar drie - het resultaat: minder verlaten winkelwagentjes, hogere conversiepercentages en hogere verkopen.
<p class="font-roboto text-start p-10 uppercase">Een startpagina die 3 keer sneller laadt</p>
Een advocatenkantoor wilde dat zijn startpagina sneller zou laden. Zonder in te boeten aan functionaliteit, hebben we het gewicht van de startpagina verlaagd van 100k naar 35k, wat resulteerde in een pagina die bijna drie keer sneller werd geladen.
    </div>
  </div>
      <!-- BLOCK -->
  <div class="font-bold text-lg col-span-12 text-center p-3 m-3 sm:text-3xl" x-data="{ open: false }">
    <button @click="open = ! open" class="hover:text-xl uppercase hover:rounded-full hover:border-blue-900 hover:border-2 hover:p-3">
      10 goede redenen om THE RUBY LAB in te schakelen
    </button>
    <div class="text-lg col-span-12 text-start  p-5 m-3 font-roboto sm:text-xl rounded-lg bg-gradient-to-r from-gray-900 to-blue-900 shadow-lg shadow-red-500" x-show="open">
      <p class="font-roboto text-start p-10 uppercase">1. Kennis van zaken</p>
Als bedrijfseigenaren begrijpen we de budgettaire druk en het gebrek aan tijd waarmee bedrijven worden geconfronteerd. We helpen u uw doelen in duidelijke, concrete termen te definiëren en werken vervolgens met u samen om een realistische, betaalbare, zakelijke ontwerpoplossing te leveren.
<p class="font-roboto text-start p-10 uppercase">2. Ervaring van wereldklasse</p>
Bij ons krijg je een team van experts met heel veel ervaring. We hebben met succes projecten gelanceerd voor klanten die hun respectievelijke industrieën leiden. We brengen deze knowhow naar uw project.
<p class="font-roboto text-start p-10 uppercase">3. Snelheid zonder compromissen</p>
Klanten waarderen het kwaliteitswerk dat we leveren, zelfs onder strakke deadlines. We beseffen dat je geen tijd hebt. Daarom werken we met u samen om uw project zo snel mogelijk op te leveren.
<p class="font-roboto text-start p-10 uppercase">4. Betrouwbaar, betrouwbaar en beschikbaar</p>
Ruby Lab is trots op het niveau van persoonlijk contact dat we onze klanten bieden. U kunt altijd rechtstreeks met de mensen die aan uw project werken, praten wanneer u maar wilt.
<p class="font-roboto text-start p-10 uppercase">5. Leveringen die u kunt gebruiken</p>
We proberen geen indruk op u te maken met documenten van 200 pagina's die u nooit zult lezen, ingewikkelde processen waardoor we er druk uitzien of ontwerpen die een lust voor het oog zijn maar uw klanten frustreren. We geven je alleen het advies, de documenten en de ontwerpen die je echt nodig hebt.
<p class="font-roboto text-start p-10 uppercase">6. Geen "B" -team</p>
Wanneer u Ruby Lab inschakelt, krijgt u niet het "B" -team, externe onderaannemer of een van onze freelance vrienden. Van het oorspronkelijke voorstel tot het uiteindelijke resultaat, u zult ons toptalent aan uw project laten werken.
<p class="font-roboto text-start p-10 uppercase">7. Gewone mensentaal, geen technopraat</p>
U verdient duidelijke, eerlijke en ongecompliceerde communicatie van uw partner. We verschuilen ons dus niet achter acroniemen, modewoorden of vakjargon. Met TRL krijg je antwoorden die je begrijpt.
<p class="font-roboto text-start p-10 uppercase">8. Wij luisteren</p>
We starten een project door te leren en te luisteren, zonder je foto's te laten zien. We bepalen uw bedrijfsdoelen en interviewen uw klanten om erachter te komen wat ze willen. Het resultaat is een duidelijk plan dat zorgt voor resultaat voor u en een geweldige ervaring voor uw klanten.
<p class="font-roboto text-start p-10 uppercase">9. Groter is niet beter</p>
Veel bedrijven die hun vertrouwen stellen in grote bureaus, komen bedrogen uit. Deze 'veilige' monsters gingen failliet, sneden personeel af en beloofden te veel. In tegenstelling tot deze opgeblazen bedrijven, zijn we stabiel.
<p class="font-roboto text-start p-10 uppercase">10. Een objectieve benadering</p>
We begrijpen de realiteit van een bedrijfsbreed project. Marketeers willen dit, programmeurs willen dat, en het businessteam wil dit, dat en nog wat. TRL brengt een frisse blik en een onbevooroordeeld gezichtspunt. We zullen een droomteam creëren door het waardevolle perspectieven van uw personeel te verenigen met onze objectieve expertise.
    </div>
  </div>
    <!-- BLOCK -->
    <!-- BLOCK -->
  <div class="font-bold text-lg col-span-12 text-center p-3 m-3 sm:text-3xl" x-data="{ open: false }">
    <button @click="open = ! open" class="hover:text-xl uppercase hover:rounded-full hover:border-blue-900 hover:border-2 hover:p-3">
      We stellen klanten tevreden door de bruikbaarheid te verbeteren
    </button>
    <p class="text-lg col-span-12 text-start  p-5 m-3 font-roboto sm:text-xl rounded-lg bg-gradient-to-r from-gray-900 to-blue-900 shadow-lg shadow-red-500" x-show="open">
      Mensgericht ontwerp-projecten krijgen lovende recensies van zowel experts uit de industrie als klanten, omdat we ons altijd richten op de mensen die de site daadwerkelijk gebruiken. We verplaatsen ons in de schoenen van de klant en creëren ontwerpen die wij zelf zouden willen gebruiken.
    </p>
  </div>
      <!-- BLOCK -->
  <div class="font-bold text-lg col-span-12 text-center p-3 m-3 sm:text-3xl" x-data="{ open: false }">
    <button @click="open = ! open" class="hover:text-xl uppercase hover:rounded-full hover:border-blue-900 hover:border-2 hover:p-3">
      Diensten 
    </button>
    <div class="text-lg col-span-12 text-start p-5 m-3 font-roboto sm:text-xl rounded-lg bg-gradient-to-r from-gray-900 to-blue-900 shadow-lg shadow-red-500" x-show="open">
      <p class="font-roboto text-start p-10 uppercase">Ondersteuning per uur</p>
We kunnen met uw interne team werken aan specifieke knelpunten, expertise bieden die u niet in huis heeft, strategische aanbevelingen doen, u helpen bij het definiëren van uw project of andere adviesdiensten leveren tegen een betaalbaar uurtarief of voor een langere termijn.
<p class="font-roboto text-start p-10 uppercase">Ontwerp van webinterface</p>
We kunnen een nieuwe site, intra-/extranet of webgebaseerde applicatie helemaal opnieuw ontwerpen, uw bestaande site opnieuw ontwerpen of slechts kleine aanpassingen maken die uw site zullen verbeteren zonder grote investering.
<p class="font-roboto text-start p-10 uppercase">Bruikbaarheidstest</p>
Na onze bruikbaarheidsbeoordeling weet u precies hoe de bruikbaarheid en klantervaring van uw site zich verhouden, heeft u aanbevelingen voor kortetermijnoplossingen die u nu kunt implementeren, en krijgt u een stappenplan voor oplossingen voor de langere termijn die een meer diepgaand herontwerp nodig.
<p class="font-roboto text-start p-10 uppercase">TRL-express: betaalbare herontwerpen van één pagina in één week</p>
Snelle, effectieve, subtiele revisies zijn het nieuwe 'geheime wapen' om de klantervaring van uw site te verbeteren. Het wijzigen van één pagina per keer kan uw perfecte oplossing zijn met een laag risico en lage kosten. RL is de eerste service in zijn soort die specifiek is afgestemd op deze behoefte.
</div>
  </div>
      <!-- BLOCK -->
  <div class="font-bold text-lg col-span-12 text-center m-3 sm:text-3xl p-3" x-data="{ open: false }">
    <button @click="open = ! open" class="hover:text-xl uppercase hover:rounded-full hover:border-blue-900 hover:border-2 hover:p-3">
      Volgende stappen, contactgegevens en Bedankt
    </button>
    <div class="text-lg col-span-12 text-start p-5 m-3 font-roboto sm:text-xl space-y-3 rounded-lg bg-gradient-to-r from-gray-900 to-blue-900 shadow-lg shadow-red-500" x-show="open">
      <p class="font-roboto text-start p-10 uppercase">Werken met RUBY LAB is net zo eenvoudig als 1-2-3: </p>1. We zullen kennismaken.
Laten we elkaar telefonisch, via e-mail of persoonlijk ontmoeten (als u belt of e-mailt via, vraag dan naar Kim Van Rompay). We wisselen graag van gedachten en bespreken hoe TRL uw project tot een succes kan maken. Potentiële klanten zijn dol op onze uitgebreide presentatie van de mogelijkheden. We kunnen ook ons​proces uitleggen, hoe lang uw project duurt, welke resultaten u kunt verwachten, of iets anders dat u wilt weten.
<p>
  
2. We stellen een voorstel voor u op (snel!)
Vraag een offerte aan en wij leveren deze binnen een week. Zelfs als je geen formele RFP (Request For Proposal) hebt, kunnen we je helpen om er een in een mum van tijd samen te stellen. Ons verkennend interview en voorbeeld-RFP's zullen u door het proces leiden.
</p>
<p>
  
3. Wij leveren
Zodra je er klaar voor bent, gaan we aan de slag. We zullen een externe site opzetten die is gericht op uw project, zodat u de voortgang van de ontwikkeling kunt volgen, planningen kunt bekijken, resultaten kunt delen en meer. Dan maken we er onze missie van om de resultaten te leveren die u nodig heeft. Tevredenheid gegarandeerd.
Dank je. We kijken ernaar uit van u te horen.
</p>
    </div>
  </div>

  
</div>

  <div class="font-special text-7xl col-span-12 text-center text-white p-6 m-10 border-t-2 border-white">
    Simplicity, carried to an extreme, becomes elegance.
  </div>
  
<div class="bg-gradient-to-r from-red-900 to-red-700">
  <div class="mx-auto max-w-7xl py-16 px-4 sm:px-6 lg:px-8">
    <div class="overflow-hidden rounded-lg bg-gradient-to-r from-gray-900 to-blue-900 shadow-xl lg:grid lg:grid-cols-2 lg:gap-4 shadow-lg shadow-red-500">
      <div class="px-6 pt-10 pb-12 sm:px-16 sm:pt-16 lg:py-16 lg:pr-0 xl:py-20 xl:px-20">
        <div class="lg:self-center">
          <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
            <span class="block">Breng ideëen tot leven.</span>
            <span class="block">Ontvang een voorstel in 48u.</span>
          </h2>
          <p class="mt-4 text-lg leading-6 text-indigo-200">Onze ontwerpen maken uw site gebruiksvriendelijker en prettiger om naar te kijken. Dit zorgt voor tevreden klanten. Uw portefeuille zal ook van u houden.</p>
          <button data-tf-popup="wof3xNSj" data-tf-size="100" class="mt-8 inline-flex items-center rounded-md border border-transparent bg-white px-5 py-3 text-base font-medium text-red-800 shadow hover:bg-indigo-50">Contacteer ons</button>
        </div>
      </div>
      <div class="aspect-w-5 aspect-h-3 -mt-6 md:aspect-w-2 md:aspect-h-1">
        <img class="translate-x-6 translate-y-6 transform rounded-md object-cover object-left-top sm:translate-x-16 lg:translate-y-20" src="https://tailwindui.com/img/component-images/full-width-with-sidebar.jpg" alt="App screenshot">
      </div>
    </div>
  </div>
</div>

    <div class="font-special text-4xl col-span-12 text-center text-white bg-gradient-to-r from-gray-900 to-blue-900 p-1" >
    <span class=" underline rounder-full">trl</span>
  </div>






<footer class="bg-gradient-to-r from-gray-900 to-blue-900 sticky bottom-0">
  <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 md:flex md:items-center md:justify-between lg:px-8 ">
    <div class="flex justify-center space-x-6 md:order-2">
      <a href="#" class="text-gray-400 font-bold hover:text-gray-500">
        <span class="sr-only">LinkedIn</span>
        IN
      </a>

      <a href="https://www.instagram.com/therubylab/" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">Instagram</span>
        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path fill-rule="evenodd" d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z" clip-rule="evenodd" />
        </svg>
      </a>

      <a href="#" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">Twitter</span>
        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
        </svg>
      </a>

      <a href="#" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">GitHub</span>
        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
        </svg>
      </a>

      <a href="#" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">Dribbble</span>
        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path fill-rule="evenodd" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10c5.51 0 10-4.48 10-10S17.51 2 12 2zm6.605 4.61a8.502 8.502 0 011.93 5.314c-.281-.054-3.101-.629-5.943-.271-.065-.141-.12-.293-.184-.445a25.416 25.416 0 00-.564-1.236c3.145-1.28 4.577-3.124 4.761-3.362zM12 3.475c2.17 0 4.154.813 5.662 2.148-.152.216-1.443 1.941-4.48 3.08-1.399-2.57-2.95-4.675-3.189-5A8.687 8.687 0 0112 3.475zm-3.633.803a53.896 53.896 0 013.167 4.935c-3.992 1.063-7.517 1.04-7.896 1.04a8.581 8.581 0 014.729-5.975zM3.453 12.01v-.26c.37.01 4.512.065 8.775-1.215.25.477.477.965.694 1.453-.109.033-.228.065-.336.098-4.404 1.42-6.747 5.303-6.942 5.629a8.522 8.522 0 01-2.19-5.705zM12 20.547a8.482 8.482 0 01-5.239-1.8c.152-.315 1.888-3.656 6.703-5.337.022-.01.033-.01.054-.022a35.318 35.318 0 011.823 6.475 8.4 8.4 0 01-3.341.684zm4.761-1.465c-.086-.52-.542-3.015-1.659-6.084 2.679-.423 5.022.271 5.314.369a8.468 8.468 0 01-3.655 5.715z" clip-rule="evenodd" />
        </svg>
      </a>
    </div>
    <div class="mt-8 md:order-1 md:mt-0">
      <p class="text-center text-base text-gray-400">&copy; 2022 The Ruby Lab, Handelsmerk van Eliama & Otileo. Alle rechten voorbehouden.</p>
      <p class="text-center text-base text-white">016 41 42 88 - welcome@therubylab.com</p>
    </div>
  </div>
</footer>

